<div class="main-div">
    <mat-card class="default-card">
      <mat-card-header>
        <mat-card-title>SohojWeb.net</mat-card-title>
        <mat-card-subtitle>Co-Founder</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            &bull; RFID based Car Parking System<br>
            &bull; Anti-Skimming Device Monitoring application for Dutch Bangla Bank Limited (DBBL)<br>
            &bull; RFID based Smart Card student attendance system
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="default-card">
      <mat-card-header>
        <mat-card-title>Daffodil Mars Rover Project</mat-card-title>
        <mat-card-subtitle>Lead Programmer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            &bull; Camera feedback recording and transfer<br>
            &bull; Image processing for camera feedback<br>
            &bull; Rover Control UI
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="default-card">
        <mat-card-header>
          <mat-card-title>Professional Events</mat-card-title>
          <mat-card-subtitle>Participation</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              &bull; National Hackathon – 2016<br>
              Project : Android App for Women Security<br>
              &bull; Connecting Startups Bangladesh<br>
          </p>
        </mat-card-content>
      </mat-card>
</div>