<div class="main-div">
    <mat-card class="default-card">
      <mat-card-header>
        <mat-card-title class="name">Using Blockchain Technology for File Synchronization</mat-card-title>
        <mat-card-subtitle>Finished. Waiting for Publication</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Abstract
                </mat-panel-title>
                <mat-panel-description>
                  {{!panelOpenState ? 'Show' : 'Hide'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <span ><p class="text-align-justify highlight">Modern storage technology has shifted from
                  traditional offline to cloud based technology a long time ago.
                  Because of this transition, we are now more dependent on the
                  online storage solutions. Synchronization of files and keeping a
                  history of changes is an important part of the cloud system. In
                  this paper, we have tried to implement Blockchain Technology
                  with traditional file synchronization and versioning system.
                  Blockchain is not a new technology, but recently it’s
                  importance has sky-rocketed as we are moving towards the
                  decentralized World Wide Web. Blockchain is “an open,
                  distributed ledger that can record transactions between two
                  parties efficiently and in a verifiable and permanent way” [1].
                  Blockchain provides immutable data storage and access with
                  the combination of Proof-of-Work[2].</p>
              </span>
            </mat-expansion-panel>
          </mat-accordion>
        <p class="text-align-justify">
          Keywords— : <span class="highlight">blockchain, distributed, decentralized, file,
              synchronization, sync, version, control, cloud</span>
        </p>
        <p>
          Authors :<br>
          &bull;
          <span class="highlight">
          <span class="name">MD. Ibrahim Khan</span><br>
          Corresponding Author,<br>
          Daffodil International University, Bangladesh
          </span>
          <br>
          &bull;
          <span class="highlight">
            <span class="name">Fahad Faisal</span><br>
            Senior Lecturer,<br>
            Daffodil International University, Bangladesh
          </span>
          <br>
          &bull;
          <span class="highlight">
            <span class="name">Pramit Ganguly</span><br>
            Daffodil International University, Bangladesh
          </span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a disabled target="_blank" rel="noopener noreferrer" href="#" mat-button>Publiction Link</a>
      </mat-card-actions>
    </mat-card>
</div>