<div class="main-div">
      <mat-card class="default-card">
        <mat-card-header>
          <div mat-card-avatar class="default-header-image"></div>
          <mat-card-title>Daffodil International University</mat-card-title>
          <mat-card-subtitle>Dhaka, Bangladesh</mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image src="/assets/diu.png" alt="DIU">
        <mat-card-content>
          <p>
            Faculty : <span style="color:burlywood">Faculty of Science and Information Technology</span>
          </p>
          <p>
            Undergraduate Program : <span style="color:burlywood">Computer Science & Engineering</span>
          </p>
          <p>
            Timeline : <span style="color:burlywood">2015 – 2018</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" rel="noopener noreferrer" href="https://daffodilvarsity.edu.bd/" mat-button>University Site</a>
          <a target="_blank" rel="noopener noreferrer" href="http://cse.daffodilvarsity.edu.bd/" mat-button>Program Site</a>
        </mat-card-actions>
      </mat-card>
</div>