<div class="main-div">
  <mat-card class="default-card">
    <mat-card-header>
      <mat-card-title>DIU Dot Net Professional Training</mat-card-title>
      <mat-card-subtitle>Participation</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Project : <span style="color:burlywood">Student Feedback System</span>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="default-card">
    <mat-card-header>
      <mat-card-title>Final Year Project</mat-card-title>
      <mat-card-subtitle>Supervised by Senior Lecturer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Project : <span style="color:burlywood">RFID Based Paperless Hospital System</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>